*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


body{
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/Space-stars-light-universe_2880x1800.jpg);
    background-size: auto;
    color: rgb(255, 255, 255);
}


.logo{
    height: 150px;
    margin-left: 60px;
    border-radius: 70px;
}


.nav{
    border-radius: 10px;
    border: 2px solid white;
    background: #3f51b5;
}


ul{
    list-style: none;
    font-weight: bold;
    padding: 10px 0px 10px 8px;
}

li{
    display: inline;
    padding: 15px;
}

a{
    text-decoration: none;
    color: ghostwhite;
    font-weight: bold;
}



.container-index{
    padding: 15px 15px 15px 15px;
}



.fotouniverso img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotouniverso:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.fotoorigen img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotoorigen:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.container-galaxias{
    padding: 15px 15px 15px 15px;

}

.titulo{
    text-align: center;
    padding: 40px 0px 0px 10px;
}

.distintasGalaxias{
    text-align: center;
    padding: 40px 0px 0px 10px;
}



.galaxiaEspiral{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px 0px 0px 10px;
}



.fotogalaxiaespiral img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotogalaxiaespiral:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.galaxiaEliptica{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px 0px 0px 10px;
}



.fotogalaxiaelip img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotogalaxiaelip:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.galaxiaIrregular{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px 0px 0px 10px;
}



.fotogalaxiairreg img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotogalaxiairreg:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.quasar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px 10px;
}



.fotoquasar img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotoquasar:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.viaLactea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 10px;
}


.fotovialactea img{
    height: 100%;
    width: 100%;
    border: white solid 1px;
}

.fotovialactea:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.container-elsol{
    padding: 15px 15px 15px 15px;
}


.elSol{
    text-align: center;
    padding: 40px 0px 0px 10px;
}

.nuestraEstrella{
    text-align: center;
    padding: 40px 0px 0px 10px;
}



.fotodelSol img{
    border: solid 1px white;
    height: 100%;
    width: 100%;
}


.fotodelSol:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.sistemasolar img{
    border: solid 1px white;
    height: 100%;
    width: 100%;
}

.sistemasolar:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.container-tierra{
    padding: 15px 15px 15px 15px;
}



.fotodelatierra img{
    height: 100%;
    width: 100%;
    border: solid 1px white;
}

.fotodelatierra:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.nuestroplaneta img{
    height: 100%;
    width: 100%;
    border: solid 1px white;
}

.nuestroplaneta:hover{
    box-shadow: 1px 3px 5px 5px gray;
}

.container-galeria{
    padding: 15px 15px 15px 15px;
}


.agujeronegrosupermasivo img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.andromeda img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.hombreenlaluna img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}



.hombreenlaluna2 img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}



.telescopio img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.canicaazul img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.jupiter img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.agujeronegroreal img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.supernova img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.lunayhombre img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}


.tierrayespacio img{
    height: 110vh;
    width: 100%;
    border-radius: 15px;
    border: solid 1px white;
}

.container-contacto{ 
    padding: 30px 15px 15px 15px;
}

.formularioparallenar{
    text-align: center;
    border-radius: 40px;
    background: hsl(233deg 68% 14% / 84%);
    color: white(0, 0, 0);
}


.logopaginawep img{
    height: 100%;
    width: 100%;
}

